<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event, class: 'btn btn-info', style: 'height:20%;width:10%'; %> &nbsp;&nbsp;
<%= link_to 'Back', events_path, class: 'btn btn-primary', style: 'height:20%;width:10%'; %>
